<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="filter__controls">
          <li *ngFor="let category of categories" data-filter="*" (click)="filterByCategory(category)">{{category}}</li>
        </ul>
      </div>
    </div>
    <div class="row product__filter">
      <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
        *ngFor="let product of productsToDisplay">
        <div class="product__item">
          <div class="product__item__pic set-bg" style="background-image: url('{{ product.image }}');">
            <span class="label">New</span>
            <ul class="product__hover">
              <li>
                <a href="shop"><img src="./assets/img/icon/heart.png" alt="" /></a>
              </li>
              <li>
                <a href="shop"><img src="./assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a>
              </li>
              <li>
                <a href="shop"><img src="./assets/img/icon/search.png" alt="" /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>{{ product.title }}</h6>
            <a href="javascript:void(0)" class="add-cart" (click)="addToCart(product)">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>{{ product.price | currency }}</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1" />
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2" />
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>