<carousel>
  <slide>
    <img src="assets/img/hero/hero-1.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">

      <h6>Summer Collection</h6>
      <h2>Fall - Winter Collections 2030</h2>
      <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
        commitment to exceptional quality.</p>
      <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
    </div>
  </slide>
  <slide>
    <img src="assets/img/hero/hero-2.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h6>Summer Collection</h6>
      <h2>Fall - Winter Collections 2030</h2>
      <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
        commitment to exceptional quality.</p>
      <a href="shop" class="primary-btn">Shop now <span class="arrow_right"></span></a>
    </div>
  </slide>

</carousel>