<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Shop</h4>
          <div class="breadcrumb__links">
            <a routerLink="/home">Home</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="shop__sidebar">
          <div class="shop__sidebar__search">
            <form action="#">
              <input type="text" placeholder="Search..." [formControl]="searchControl" />
              <button type="submit" (click)="filterBySearch()"><span class="icon_search"></span></button>
            </form>
          </div>
          <div class="shop__sidebar__accordion">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="shop__sidebar__categories">
                      <ul class="nice-scroll">
                        <li *ngFor="let category of categories">
                          <a href="javascript:void(0)" (click)="filterByCategory(category)">{{ category }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                </div>
                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="shop__sidebar__price">
                      <ul>
                        <li>
                          <a href="javascript:void(0)" (click)="filterByPrice(0, 50)">$0 - $50</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)" (click)="filterByPrice(50, 100)">$50.00 - $100.00</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)" (click)="filterByPrice(100, 150)">$100.00 - $150.00</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)" (click)="filterByPrice(150, 200)">$150.00 - $200.00</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)" (click)="filterByPrice(200, 250)">$200.00+</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="shop__product__option">
          <div class="row">

          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let product of productsToDisplay">
            <div class="product__item">
              <div class="product__item__pic set-bg" style="background-image: url('{{ product.image }}')">
                <ul class="product__hover">
                  <li>
                    <a href="#"><img src="./assets/img/icon/heart.png" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="./assets/img/icon/compare.png" alt="" />
                      <span>Compare</span></a>
                  </li>
                  <li>
                    <a href="#"><img src="./assets/img/icon/search.png" alt="" /></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6>{{ product.title }}</h6>
                <a href="javascript:void(0)" class="add-cart" (click)="addToCart(product)">+ Add To Cart</a>
                <div class="rating">
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <h5>{{ product.price }}</h5>
                <div class="product__color__select">
                  <label for="pc-4">
                    <input type="radio" id="pc-4" />
                  </label>
                  <label class="active black" for="pc-5">
                    <input type="radio" id="pc-5" />
                  </label>
                  <label class="grey" for="pc-6">
                    <input type="radio" id="pc-6" />
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="product__pagination">
                <a class="active" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">21</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>